  <div id="inputPanel" class="panel">
    &nbsp;
    <b>「<span id="candidate_letters"></span>」</b>で始まる意味を持つ英単語は？
    <% form_remote_tag(:url => {:action => :try},
                       :loading => "document.body.style.cursor = 'wait'",
                       :complete => "document.body.style.cursor = 'auto'") do -%>
      <%= text_field_tag :first_word %>
      <%= submit_tag(@submit_label || 'しりとり！')
      %>
    <% end -%>
  </div>
  <% javascript_tag do -%>
    var inputPanel = new YAHOO.widget.Panel("inputPanel",
      { close: false, width: "300px", height: "70px", xy: [50, 60]});
    inputPanel.render();
    $('first_word').focus(); 
  <% end -%>

