<div class="menu">
  <%= link_to 'しりとりする！', :action => :index %> |
  <%= link_to 'ランキング', :action => :ranking %> |
  <%= link_to '遊び方', :action => :help %> |
  <%= link_to 'ライセンスなど', :action => :license %>
</div>
