<div class="menu">
  <%= link_to 'ゲーム', :action => :index %>
  <%= link_to 'ランキング', :action => :ranking %>
  <%= link_to '遊び方', :action => :help %>
  <% if @game and @game.name == 'fujibee' -%>
    <%= link_to 'メンテナンス', :controller => :items %>
  <% end -%>
</div>
