<div class="menu">
  <%= link_to_unless @game, 'しりとりする！', :action => :index %>
  |
  <%= link_to_unless @game, 'ランキング', :controller => :ranking %>
  |
  <%= link_to_unless @game, '遊び方', :action => :help %>
  |
  <%= link_to_unless @game, 'ライセンスなど', :action => :license %>
</div>
