<div style="margin: 0px 10px; font-size:110%;"><b>リリースノート</b></div>

<h2>v1.4 - 2009/2/24</h2>
<ul>
  <li>ランキング表示の高速化（fragment cache導入）
  <li>細かいデバッグ
  <ul>
    <li>ゲームオーバー時のオススメ表示
    <li>ランキングのフォントの大きさ
  </ul>
</ul>

<h2>v1.3 - 2009/2/13</h2>
<ul>
  <li>ゲームオーバー画面で次のアイテム候補を表示
  <li>例文取得を少し賢く
  <li>管理画面でアイテムを削除できないように
</ul>

<h2>v1.2 - 2009/2/7</h2>
<ul>
  <li>CreativeCommons表示に対応
  <li>ランキングに「最近のしりとり」を追加
  <li>アイテムランキングのAJAX化
  <li>たくさんのバグ修正
</ul>

<h2>v1.1 - 2009/2/1</h2>
<ul>
  <li>ゲームをajax対応
  <li>アイテムランキング
  <li>たくさんのバグ修正
</ul>

<h2>v1.0 - 2009/1/15</h2>
<ul>
  <li>iKnow! API KICK OFF Challange アプリとして公開
</ul>
