<div style="margin: 0px 10px; font-size:110%;"><b>リリースノート</b></div>
<h2>v1.1 - 2009/2/1</h2>
<ul>
  <li>ゲームをajax対応
  <li>アイテムランキング
  <li>たくさんのデバッグ
</ul>

<h2>v1.0 - 2009/1/15</h2>
<ul>
  <li>iKnow! API KICK OFF Challange アプリとして公開
</ul>
