        <div class="panel">
          <h2><%= iknow_link item %></h2>
          <div id="last_iknow_panel_<%= item.id %>"></div>
          <% javascript_tag do -%>
            <%= remote_function :url => {:action => :iknow_panel},
              :update => 'last_iknow_panel_' + item.id.to_s,
              :with => "'iknow_id=#{item.iknow_id}'" %>
          <% end -%>
        </div>
