<%= render :partial => 'menu' %>

<div class="content"> 
  <h2>ゲームオーバー！</h2>
  <div>
    <%= @game.name %>さんのスコアは、<b><%= @game.history.size %>回</b> でした！
  </div>
</div>

<%= render :partial => 'error_item' %>
