<%= render :partial => 'menu' %>

<div class="content">
  <h2>遊び方</h2>
  <ul>
    <li>日本語の読みでしりとりをします。でも、英語で答えてその意味でしりとりになるようにします。
    <li>拗音・促音(ゃ、っ、など)は、清音(や、つなど)に戻して答えることができます。
    <li>濁音・半濁音(が、ぱ、など)は、清音(か、は)などに戻して答えることができます。
    <li>「ん」で終わるとお手つき１回です。
    <li>しりとりができるような意味が入力した英語にない場合もお手つき１回です。
    <li>お手つきが３回になると、ゲームオーバーです。
  </ul>
  参考：<%= link_to 'しりとり - Wikipedia',
    'http://ja.wikipedia.org/wiki/%E3%81%97%E3%82%8A%E3%81%A8%E3%82%8A' %>
</div>

<div class="menu"> 
  <%= link_to '[管理用]', :controller => :items %>
</div>
