<%= render :partial => 'menu' %>

<div class="content">
  <h2>遊び方</h2>
  <ul>
    <li>日本語の読みでしりとりをします。でも、英語で答えてその意味でしりとりになるようにします。
    <li>「ん」で終わるとお手つき１回です。
    <li>しりとりができるような意味が入力した英語にない場合もお手つき１回です。
    <li>お手つきが３回になると、ゲームオーバーです。
  </ul>
</div>
