          <% if @sentence -%>
            <%= @sentence.text %><br/>
            <%= @ja_text %><br/>
            <span class="img_frame">
              <%= image_tag @sentence.square_image if @sentence.square_image %>
            </span>
          <% else -%>
            例文はありません。
          <% end -%>
