body {
  padding-bottom: 1em;
  color: #EEE; /* Text Color */
  background-color: #1B75BC;
}

h1 {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; 
  color: #005585;
  background-color: #FAD872;
  font-weight: bold;
}

table {
  margin: 1em 20px;
  border: 0px solid #ccc;
  background-color: transparent;
}

form {
  margin: 5px; 
  padding: 5px; 
  background-color: transparent;
}


input,
textarea {
  margin: 1px;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #d4d4d4 #eee #eee #d4d4d4;
  font-family: Arial, Helvetica, "ヒラギノ角ゴ Pro W3",  sans-serif;
  background-color: #fff;
}

div {
  margin: 5px;
  padding: 5px;
  color: #333; /* Text Color */
  background-color: #fff;
}

a:link {
  color: #1B75BC;
}

a:visited {
  color: #1B75BC;
}

a:hover {
  color: #ff6633;
}

.menu {
  border-style: solid;
  border-color: #666;
  border-width: 2px;
}

.content {
  border-style: solid;
  border-color: #666;
  border-width: 1px;
}

.footer {
  float: right;
  color: #EEE; /* Text Color */
  background-color: transparent;
}

.footer a {
  color: #EEE; /* Text Color */
}

.panel {
  width: 400px;
}

.panel img {
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
}

.panel input {
  background-color: #EEEEEE;
}

.error {
  width: 400px;
  border-style: solid;
  border-width: 4px;
  border-color: #ff6633;
}

