body {
  padding-bottom: 1em;
  color: #EEE; /* Text Color */
  background-color: #1B75BC;
}

h1 {
  font-size: 180%;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; 
  color: #005585;
  background-color: #FAD872;
  font-weight: bold;
}

table {
  margin: 1em 20px;
  border: 0px solid #ccc;
  background-color: transparent;
}

th, td {
  margin: 0px; 
  padding: 0px;
  border-bottom: 0px solid #ddd;
  border-right: 0px solid #ddd;
  border-collapse: separate;
  border-spacing: 0px;
  background-color: transparent;
}

.content table {
  margin: 1em 20px;
  border: 0px solid #ccc;
}

.content th, .content td {
  color: #333;
  margin: 0px; 
  padding: 1px;
  border: 1px solid #666;
  border-collapse: collapse;
}

form {
  margin: 5px; 
  padding: 5px; 
  background-color: transparent;
}

input, textarea {
  margin: 1px;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #d4d4d4 #eee #eee #d4d4d4;
  font-family: Arial, Helvetica, "ヒラギノ角ゴ Pro W3",  sans-serif;
  background-color: #fff;
}

div {
  margin: 5px;
  padding: 5px;
  color: #333; /* Text Color */
  background-color: #fff;
}

a:link { color: #1B75BC; }
a:visited { color: #1B75BC; }
a:hover { color: #ff6633; }

a.iknow_link:link {
  color: #333;
  text-decoration: none;
}
a.iknow_link:visited {
  color: #333;
  text-decoration: none;
}
a.iknow_link:hover {
  color: #ff6633;
  text-decoration: underline;
}

.menu {
  text-align: center;
  border-style: solid;
  border-color: #666;
  border-width: 2px;
}

.main {
  background-color: transparent;
}

.upward {
  position: relative;
  top: -50px;
}

.indent {
  margin: 0px 20px;
}

.small {
  font-size: 80%;
}

.main td {
  padding: 10px;
}

#scoreboard {
  text-align: center;
  border-style: solid;
  border-color: #666;
  border-width: 1px;
}

.content {
  border-style: solid;
  border-color: #666;
  border-width: 1px;
  padding: 10px;
}

.footer {
  float: right;
  color: #EEE; /* Text Color */
  background-color: transparent;
}

.footer a {
  color: #EEE; /* Text Color */
}

.panel {
  width: 400px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 3px solid #333;
  border-bottom: 3px solid #333;
}

.panel input, .content input {
  background-color: #EEEEEE;
}

.img_frame img {
  border-top: 3px solid #333;
  border-left: 3px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

#message {
  float: right;
  width: 300px;
  border-style: solid;
  border-width: 4px;
  border-color: #ff6633;
  position: relative;
  top: -20px;
}

#inputPanel_c, #inputPanel_h, #inputPanel,
#endPanel_c, #endPanel_h, #endPanel {
  margin: 0px;
  padding: 0px;
}

#inputPanel_h {
  background-color: #ff6633;
}

#loginPanel, #endPanel {
  text-align: center;
  vertical-align: middle;
}

#loginPanel input, #inputPanel input {
  background-color: #EEEEEE;
}

#endPanel_h {
  height: 18px;
  background-color: #ff6633;
}

