      <% if game.items.size > 0 -%>
      <div style="margin:0px 20px;border: solid 1px gray;">
        <%= "#{game.items.map {|i| iknow_item_link(i)}.join(image_tag 'arrow-right.png')}" %>
      </div>
      <% end -%>
