<div class="menu">
  <%= link_to 'しりとりする！', :controller => :game %>
  |
  <%= link_to 'ランキング', :controller => :ranking %>
  |
  <%= link_to '遊び方', :controller => :game, :action => :help %>
  |
  <%= link_to 'ライセンスなど', :controller => :game, :action => :license %>
</div>
