<h2>TODO</h2>
v1.5でやりたい
<ul>
  <li>しりとりの前のアイテムの絵とかはjavascriptで再利用したい
  <li>正解・不正解時に音を出す
  <li>発音ファイルへリンク
  <li>デザインの角をいろいろ丸くする(gmailみたいに) 
</ul>

将来的に
<ul>
  <li>複数しりとりモード(日本語で英語しりとりとか、英語で英語しりとりとか)
  <li>国際化・英語版も
  <li>アイテムの順位付け（マイナーなものがヒットしてしまうのを防ぐ）
</ul>
