<h2>TODO</h2>
v1.3でやりたい
<ul>
  <li>ゲームオーバーのときにその音の候補(thx to issochiさん)
  <li>例文を選ぶ仕組み(cerego and 絵がある - 絵がある - cerego - 何でも)
  <li>しりとりの前のアイテムの絵とかはjavascriptで再利用したい
  <li>正解・不正解時に音を出す
  <li>発音ファイルへリンク
</ul>

将来的に
<ul>
  <li>複数しりとりモード(日本語で英語しりとりとか、英語で英語しりとりとか)
  <li>国際化・英語版も
  <li>railsのキャッシュの仕組みを導入（負荷軽減のため）
</ul>
